p {
    background-color: rgb(67, 188, 176);
}
span a {
    background-color: rgb(202, 44, 131);
}
a {
    background-color: rgb(151, 93, 174);
}

div {
    background-color: yellow;

}

span{
    background-color: burlywood;
}